.uk-navbar {
  height: 42px;
  background: #000000;
}

.navbar #product-logo {
  padding: 0 16px;
  width: calc(102px + 32px);
  border-right: 1px solid #2b2b2b;
  height: inherit;
}

#decipher-logo {
  width: 34px;
  padding: 3px 12px 3px 0px;
  border-right: 1px solid #2b2b2b;
  height: inherit;
}

.navbar #logo-text {
  visibility: hidden;
  position: absolute;
  z-index: -999;
}

#architecture-diagram {
  width: 90%;
}
