:root {
  --navbar-height: 42px;
  --padding-base: 16px;
  --font-stack-base: 'Avenir Next';
  --color-background-black: #000;
  --color-background-grey: #151515;
}


html {
  font-family: var(--font-stack-base);
}

* {
  box-sizing: border-box;
}


.uk-navbar {
  height: var(--navbar-height);
  background: var(--color-background-black);
}

.navbar #product-logo {
  padding: 0 var(--padding-base);
  width: calc(102px + var(--padding-base * 2));
  border-right: 1px solid #2b2b2b;
  height: var(--navbar-height);
}

#decipher-logo {
  width: 36px;
  padding: 3px var(--padding-base) 3px 0px;
  border-right: 1px solid #2b2b2b;
  height: var(--navbar-height);
}

.navbar #logo-text {
  visibility: hidden;
  position: absolute;
  z-index: -999;
}

#architecture-diagram {
  width: 90%;
}
